.sherlockode-faq-plugin-question-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tree-sortable-wrapper {
    margin: 40px 0;
}

.tree-sortable-wrapper > ul {
    padding-left: 0;
}

.sherlockode-faq-category-show-question .icon::before {
    content: "\f078";
}

.sherlockode-faq-category-show-question.open .icon::before {
    content: "\f077";
}

#sherlockode-faq-category-tree li.hide {
    display: none;
}

#sherlockode-faq-category-tree li[data-level="1"] .branch-drag-handler .icon::before {
    content: "\f07b";
}

#sherlockode-faq-category-tree li[data-level="2"] .branch-drag-handler .icon::before {
    content: "\f059";
}
