.sherlockode-faq-title {
    text-align: center;
}

.sherlockode-faq-grid {
    margin-top: 25px;

    display: grid;
    grid-template-columns: 350px 1fr;
}

@media only screen and (max-width: 768px) {
    .sherlockode-faq-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .sherlockode-faq-category {
        display: none;
    }
}

.sherlockode-faq-mobile-category {
    margin-bottom: 14px;
}

@media only screen and (min-width: 768.1px) {
    .sherlockode-faq-mobile-category {
        display: none;
    }
}

.sherlockode-faq-category.ui.list {
    padding-right: 24px;
}

.sherlockode-faq-category.ui.list > .item {
    display: flex ;
    justify-content: space-between;

    width: 100%;
}

.sherlockode-faq-category.ui.list > .item:after {
    content: none;
}

.sherlockode-faq-category .item:not(:first-child) {
    margin-top: 18px;
}

.sherlockode-faq-category .sherlockode-faq-btn-category {
    border: none !important;
    display: flex;
    align-items: center;
    font-size: 18px !important;
}

.sherlockode-faq-category .sherlockode-faq-btn-category.active {
    color: #22b99a !important;
    background: #22B99A2C !important;
    border-color: #22B99A45 !important;
}

.sherlockode-faq-answer {
    overflow:hidden;
    transition:height 0.2s ease-in-out;
    height:auto;
}

.sherlockode-faq-btn-collapse {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 14px;
    text-align: left;
}

.sherlockode-faq-btn-collapse i {
    width: 1rem;
    margin-right: 0;
}

.sherlockode-faq-btn-collapse[aria-expanded="true"] i {
    transform: rotate(180deg);
}

.sherlockode-category-question {
    padding-top: 10px;
}

.sherlockode-faq-question-title {
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .sherlockode-faq-question-title {
        font-size: 18px;
    }
}

body.sherlockode-faq-modal-active {
    overflow: hidden;
}

body.sherlockode-faq-modal-active.closing .sherlockode-faq-modal-bg,
.sherlockode-faq-modal-bg {
    opacity: 0;
}

body.sherlockode-faq-modal-active .sherlockode-faq-modal-bg {
    transition: opacity .2s linear;
}

body.sherlockode-faq-modal-active .sherlockode-faq-modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #000;
    opacity: .5;
}

.sherlockode-faq-modal-category {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    transform: translateY(100%);
    transition: transform .2s ease-in-out;
    padding: 0 20px 10px 20px;
}

body.sherlockode-faq-modal-active:not(.closing) .sherlockode-faq-modal-category {
    max-height: 100%;
    overflow-y: auto;
    transform: translateY(0);
}

.sherlockode-faq-modal-category-header {
    position: sticky;
    top: 0;
    background: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    z-index: 1;
}


.sherlockode-faq-modal-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sherlockode-faq-modal-category .ui.button {
    border: none !important;
    padding: 10px !important;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.sherlockode-faq-modal-category .ui.button i {
    margin-left: auto !important;
}

.sherlockode-faq-modal-btn-close {
    border: none;
    background: transparent;
    display: block;
    padding: 5px;
    margin-left: auto;
}

.sherlockode-faq-category-mobile {
    width: 100%;
    border-radius: 24px;
    border: solid 1px #22b99a;
    background: transparent;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 18px;
}

.sherlockode-faq-category-mobile .icon {
    transform: rotate(90deg);
    font-size: 14px;
}
