{% if sherlockode_faq_has_resource() %}
    {% set simpleFaq = sherlockode_faq_his_simple_faq() %}
    <div class="middle aligned column">
        <div class="ui right floated sherlockode-faq-create-btns">
            {% if false == simpleFaq %}
                {% if definition.actionGroups.main is defined %}
                    {% for action in definition.getEnabledActions('main') %}
                        {{ sylius_grid_render_action(resources, action, null) }}
                    {% endfor %}
                {% endif %}
            {% endif %}
            <a class="ui labeled icon button primary" href="{{ path('sherlockode_sylius_faq_admin_question_create') }}">
                <i class="icon plus"></i>
                {{ 'sherlockode_sylius_faq.ui.new_question'|trans }}
            </a>
        </div>
    </div>
{% endif %}
