<div class="ui stackable two column grid">
    <div class="column">
        {% include '@SherlockodeSyliusFAQPlugin/admin/Tree/_headerTitle.html.twig' %}
        {% include '@SherlockodeSyliusFAQPlugin/admin/Tree/_breadcrumb.html.twig' %}
    </div>

    {% include '@SherlockodeSyliusFAQPlugin/admin/Tree/_actions.html.twig' %}
</div>
